<%- include('./head', {}) %>

<script src="/cms.js"></script>
<link href="/cms.css" rel="stylesheet"/>
<script>
var API_SERVER = '<%= API_SERVER %>';
var GITHUB_REPO = '<%= GITHUB_REPO %>';
var TOKEN = '<%= user ? user.token : "" %>';

var params = '<%= params %>';
</script>
</head>

<body>

<%- include('./navi', { GITHUB_REPO: '', login: true, user: user }) %>

<div class="container" style="margin-top: 50px;">
<% if( user ){ %>
  <div id="cms_head">
  </div>
  <div id="cms_main">
  </div>
  <div id="cms_foot">
  </div>
<% }else{ %>
  GitHub アカウントでログインしてください。
<% } %>
</div>

<div class="container" style="margin-top: 50px;">
  <div style="display: none;">
    <div>Remaining: <span id="ratelimit-remaining">?</span></div>
    <div>Reset: <span id="ratelimit-reset">?</span></div>
  </div>

  <pre style="margin-top: 50px;" id="debug">

  </pre>
</div>

<!-- Toast -->
<div class="toast" id="my_toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div id="my_toast-body" class="toast-body" style="font-size: 14px;">
  </div>
</div>

<%- include('./foot', {}) %>
